@model List<ThemeModel>

@{
    Layout = "_Layout";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/users.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/themes.css" asp-append-version="true" />
    <script src="~/js/themeScript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Темы</title>
</head>
<body>
    <h1>Темы конспектов</h1>
    <a asp-action="Create" class="btn btn-primary">Добавить тему</a>
    <button type="button" onclick="saveOrder()" class="btn btn-primary">Сохранить порядок</button>
    <h2 id="successMessage" >Порядок изменен успешно!</h2>
    <table id="themeTable" class="table">
    <thead>
        <tr> 
            <th>Тема конспекта</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var theme in Model)
            {
                <tr data-theme-id="@theme.ThemeId">
                    <td>@theme.Name</td>
                    <td>
                        <button type="button" class="btn-primary" onclick="moveRowUp(this)">↑</button> |
                        <button type="button"class="btn-primary" onclick="moveRowDown(this)">↓</button> |
                        <a asp-controller="Article" asp-action="Articles" asp-route-themeId="@theme.ThemeId" class="btn-primary">Показать конспекты</a> |
                        <a asp-action="Edit" asp-route-id="@theme.ThemeId" class="btn-edit">Изменить</a> |
                        <a asp-action="Delete" asp-route-id="@theme.ThemeId" class="btn-delete">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>